:root {
    --Bg: hsl(0, 0%, 100%);
    --Fg: hsl(0, 0%, 42%);
    --HeaderBg: hsl(240, 5%, 96%);
    --AccentBg: hsl(174,100%,33%);
    --AccentFg: hsl(0,0%,100%);
    --HighlightBg: hsl(240, 5%, 92%);
    --Red: hsl(357,55%,52%);
}

font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand SemiBold';
    src: url('fonts/Quicksand-SemiBold.ttf') format('truetype');
}

body {
    display: block;
    font-family: "Quicksand Medium", "Helvetica Neue", "Helvetica", sans-serif;
    min-width: 180px;
    min-height: 200px;
    background: var(--Bg);
    color: var(--Fg);
    margin: 0;
    padding: 1px 1px 10px 1px;
    cursor: default;
    user-select: none;
}

/* Header */
#header {
    position: fixed;
    top: 0;
    left: -1px;
    font-family: "Quicksand Medium", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 600;
    text-align: left;
    padding: 15px 16px;
    width: 100%;
    background-color: var(--HeaderBg);
    color: var(--Fg);
    cursor: pointer;
    z-index: 10;
}

.contrast { color: var(--AccentBg); }

/* Extensions */
#switcher {
    position: relative;
    max-height: var(--height);
    overflow-y: hidden;
    margin-top: var(--top);
    margin-bottom: 5px;
}
#switcher:hover { overflow-y: overlay; }

.extension { padding: 6px 12px; cursor: pointer; }

.extension div {
    border: 1px solid transparent;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.extension div::before {
    position: absolute;
    content: "";
    text-align: center;
    left: 1px;
    width: 20px;
}
.extension:hover { background-color: var(--HighlightBg); color: var(--Fg); font-weight: 600; }

.extension.enabled { font-weight: 500; color: var(--AccentBg); }

.extension.enabled:hover { font-weight: 600; }

/* Menu */
#menu { padding: 5px 15px; white-space: nowrap; overflow: hidden; }

.info, .hide, .options, .uninstall {
    font-family: "Quicksand Semibold", "Helvetica Neue", "Helvetica", sans-serif;
    width: 48%;
    text-align: center;
    padding: 8px 0;
    border-radius: 3px;
    background-color: var(--HighlightBg);
}
.info { float: left; color: var(--Fg); cursor: pointer; }

.hide { float: right; color: var(--Fg); cursor: pointer; }

.options {
    float: left;
    clear: left;
    margin-top: 5px;
    color: var(--Fg);
    cursor: default;
}
.options.optActive { color: var(--Fg); cursor: pointer; }

.info:hover, .hide:hover, .options.optActive:hover { background-color: var(--AccentBg); color: var(--AccentFg) !important; }

.uninstall {
    float: right;
    clear: right;
    margin-top: 5px;
    color: var(--Fg);
    cursor: pointer;
}
.uninstall:hover { background-color: var(--Red); color: var(--AccentFg) !important; }

/* Info */
#txtdiv {
    padding: 0 15px;
    border: 1px solid transparent;
    white-space: normal;
    word-break: break-all;
    margin-top: 0px;
}
#txtdiv p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 4px;
}
#txtdiv p:last-of-type { margin-bottom: 0; }

#txtdiv a { cursor: pointer; text-decoration: none; }

.desc { font-family: "Quicksand Semibold", "Helvetica Neue", "Helvetica", sans-serif; color: var(--Fg); }

#copy { cursor: pointer; }

/* Scrollbar */
/* Page behaviour */
body { overflow: overlay !important; scroll-behavior: smooth; }

/* Scrollbars */
::-webkit-scrollbar { border: 0; width: 8px; height: 8px; }

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner { background-color: var(--Bg); }

::-webkit-scrollbar-track-piece:hover, ::-webkit-scrollbar-track-piece:active { background: linear-gradient(180deg, hsla(0, 0%, 53%, .2), transparent); }

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: var(--Fg);
    border: 3px solid var(--Bg);
    border-radius: 4px;

}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active { background-color: var(--AccentBg); }

:-webkit-scrollbar-button { display: none !important; }
